@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gridlines {
  transform: translateZ(-1px);
}

@keyframes blink {
  50% {
    opacity: 0.35;
  }
}

.animate-blink {
  animation: blink 1.35s infinite;
}

/* Scroll highlight color */
::selection{
  background-color: #f8f8f8;
  color: #000;
}

html {
  --size: 12px;
  --foreground-color: #999;
  --background-color: theme('colors.dark-primary');
}

html::-webkit-scrollbar {
  width: var(--size);
  height: var(--size);
}
html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--foreground-color);
  border: 3px solid var(--background-color);
}
html::-webkit-scrollbar-track {
  background: var(--background-color);
}

/* Standard version (Firefox only for now) */
html{
  scrollbar-color: var(--foreground-color) var(--background-color);
  scroll-behavior: smooth;
}

.text-stroke {
  -webkit-text-stroke: 1px currentColor;
  -webkit-text-fill-color: transparent;
}

body {
  overflow-y: hidden;
}